@charset "UTF-8";

body{
    background-color: darkslategrey;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif
}

h1{
    color: azure;
}

/* em HTML é id  = em CSS é #
 em HTML é class = em CSS é . */
h1#principal{
    text-align: center;
    text-transform: uppercase;

    background-color: black;
}

h2{
    color: cadetblue;
}

/* Hierarquia de cascata, o último prevalece: tag, classe, id*/

.basico{
    color:chartreuse
}

.intermed{
    color: gold;
}

.avancado{
    color: crimson;
}